html,
body {
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
} 

#mainNav {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255, 0, 0, 0.932);
    background-color: rgba(253, 253, 253, 0.527);
}

#mainNav .navbar-toggler {
    font-size: 14px;
    padding: 11px;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
}

#mainNav .navbar-brand {
    font-weight: 700;
}

#mainNav a {
    color: black;
}

#mainNav .navbar-nav .nav-item {
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}

#mainNav.navbar-shrink {
    border-bottom: 1px solid #44c7f4;
    background: rgb(255, 255, 255);
}

#mainNav .navbar-nav .nav-item:hover {
    color: fade(white, 80%);
    outline: none;
    background-color: rgba(94, 94, 94, 0.486);
    border-radius: 8px;
}

#mainNav .navbar-nav .nav-item:active,
#mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: #44c7f4;
    border-radius: 8px;
}

.navbar-brand {
    width: 0;
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 15px;
        padding-bottom: 15px;
        -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
        -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
        transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
        letter-spacing: 1px;
        /* border-bottom: none; */
        background: rgba(253, 253, 253, 0.329);
        border-bottom: 1px solid rgba(46, 45, 45, 0.336);
    }
    #mainNav a {
        color: rgb(0, 0, 0);
    }
    #mainNav.navbar-shrink {
        padding-top: 8px;
        padding-bottom: 8px;
        border-bottom: 1px solid #44c7f4;
        background: rgb(255, 255, 255);
    }
    #mainNav.navbar-shrink a {
        color: rgb(0, 0, 0);
    }
    #mainNav .nav-link.active {
        outline: none;
        background-color: #44c7f4;
        border-radius: 8px;
    }
    #mainNav .nav-link.active:hover {
        color: white;
    }
    #mainNav {
        padding-left: 0;
        padding-right: 0;
    }
}

/* End of Navbar style */

.social-buttons {
    display: flex;
    justify-content: center;
}

.social-buttons a:hover {
    color: #d18a19;
}

.abt {
    margin: 5px 50px;
    text-align: center;
}

.navbar-right {
    float: left !important;
    margin-right: -15px;
}

.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.39),rgba(0, 0, 0, 0.39),rgba(0, 0, 0, 0.39)) , url(../images/landing.jpg) no-repeat 0px 0px;
    background-size: cover;
    /* background-position: ; */
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    min-height: 400px;
    height: 100vh;
    opacity: 0.9;
}

.cover {
    min-height: 450px;
    width: 100vh;
    background: rgba(0, 0, 0, 0.8)
}

.cover-1 {
    min-height: inherit;
    width: 100vh;
    background: rgba(0, 0, 0, 0.8)
}

.banner-1 {
    background: url(../images/landing2.jpg) no-repeat 0px 0px;
    background-size: cover;
    background-position: center;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    min-height: 250px;
}

.banner a {
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    padding: 0.8em 2em;
    background: #d18a19;
}

.banner a:hover {
    color: #fff;
    background: #000;
}

.banner h2 {
    font-size: 3.5em;
    font-weight: 600;
    margin: 3em;
}

.banner {
    text-align: center;
    width: 100%;
}

.banner p {
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.8em;
    margin: 9em auto 5em;
    width: 70%;
}

/* End of Banner */

/* Image Gallery Section */

.oops {
    text-align: center;
    width: 100%;
}

div.col-xs-6.col-sm-6.col-md-4.col-lg-3 {
    padding: 0px;
    padding-bottom: 10px;
}

.wrap {
    margin-top: 3em;
}

.image {
    width: 80%;
}

.head-content {
    color: #44c7f4;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 7px;
}

.hovereffect {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.hovereffect .overlay {
    position: absolute;
    overflow: hidden;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
}

.hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    margin-bottom: 7px;
}

.hovereffect:hover img {
    filter: brightness(0.1);
    -webkit-filter: brightness(0.1);
    -moz-filter: brightness(0.1);
    -o-filter: brightness(0.1);
    -ms-filter: brightness(0.1);
}

.hovereffect h4 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 15px;
    background-color: transparent;
    color:#056b5b;
    margin-top: 2em;
    padding: 2em 2em;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    letter-spacing: 2px;
}

.hovereffect p {
    color: #FFF;
    line-height: 1.8em;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.hovereffect:hover p,
.hovereffect:hover h4 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.portfolio-wrap {
    padding: 0 4px;
    cursor: pointer;
}

.col-md-12.event-details {
    padding: 1rem 2rem;
}
/* h2,
p.desc {
    padding-top: 10px;
    padding-left: 30px;
} */

div.modal-dialog {
    min-width: 1000px;
    min-height: 600px;
}

div.modal-content {
    min-width: 800px;
    min-height: 600px;
}

  .overlay-background {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    /* z-index: 9; */
    /* background: linear-gradient(to right, black, rgba(255, 255, 255, 0)); */
    /* background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)); */
  }
  
  
  
  
  .project-details {
    border-radius: 4px;
    border: 1px solid #dbd9d9;
    background-color: white;
    padding: 1rem;
    box-shadow: 2px 4px 12px 2px #9c9c9c;
    margin: 1rem;
    color: black;
  }
  
  
  .images-details img {
    width: 30%;
  }

  #skills{
    background-color:#F5DEB3



  }
  
  