{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}



  <header class="site-navigation">
    <div class="nav-container">
      <div class="nav-brand underline">
        <a href="">Wanjiru
          <strong>Nganga</strong>
        </a>
      </div>
      <nav class="nav-menu">
        <div class="nav-mobile-header">
          <span class="primary">T</span>
          <strong class="secondary">R</strong>
          <i class="nav-toggle fa fa-2x fa-close" aria-hidden="true" id="toggle-close"></i>
        </div>
        <a href="#skills">Skills</a>
        <a href="#projects">Projects</a>
        <a href="#contact">Contact</a>
      </nav>
    </div>
  </header>

  <main>

    <header class="site-hero">
      <div class="small-container">
        <div class="about">
          <h1>
            <span class="secondary"> Wanjiru Nganga </span>
          </h1>
          <p class="underline">Hi, I'm
            Wanjiru,A result-driven Full stack software developer with aspiring progressive career.
            I am self-driven, ambitious, innovative, analytical, a fast learner,
           and pride myself as a true team player with good interpersonal skills.
            I strongly believe in honesty and integrity and I am very reliable.
          </p>
          <p>
            <a class="button button-secondary" href="#contact">Get in Touch</a>
          </p>
        </div>
      </div>
    </header>

    <section class="section alt-bg" id="skills">
      <header class="section-header">
        <div class="small-container">
          <h2>Technical Skills</h2>
        </div>
      </header>
      <div class="container">
        <div class="flex skills">
          <div class="card">
              <img src="{% static 'images/flask.png'%}" alt="flask Logo">
            <h3>Flask</h3>
          </div>
          <div class="card">
              <img src="{% static 'images/javascript.jpg'%}" alt="js Logo">
            <h3>JavaScript</h3>
          </div>
          <div class="card">
                <img src="{% static 'images/angular-card.png'%}" alt="angular Logo">
            <h3>AngularJs</h3>
          </div>
          <div class="card">
            <img src="{% static 'images/python.png'%}" alt="python Logo">
                <h3>Python </h3>
          </div>
          <div class="card">
              <img src="{% static 'images/git.png'%}" alt="git Logo">
            <h3>Git</h3>
          </div>
          <div class="card">
            <img src="{% static 'images/django.png'%}" alt="django Logo">
            <h3>Django</h3>
          </div>
            <div class="card">
            <img src="{% static 'images/postgresql.png'%}" alt="psql Logo">
            <h3>Django</h3>
          </div>

            <div class="card">
            <img src="{% static 'images/laravel.png'%}" alt="psql Logo">
            <h3>Django</h3>
          </div>

        </div>
      </div>
    </section>

    <section class="section alt-bg" id="projects">
      <header class="section-header">
        <div class="small-container">
          <h2>Projects</h2>
          <p>Here are a few examples of my projects.</p>
        </div>
      </header>
      <div class="container wrap" >
        <div class="row" id="final">
        {% for item in projects %}
             <div class="col-md-4">
                     <div class="portfolio-wrap ">
                         <div class="portfolio-wrap hovereffect">
                             <a class="img-overlay" data-toggle="modal" data-target="#{{item.id}}" style="width:100%">
                                 <img src="{{item.image.url}}"  class="image" alt="Image" >
                                 <div class="overlay">
                                     <h4>{{item.title}}</h4>
                                 </div>
                             </a>
                         </div>
                     </div>
                 </div>
        {% endfor %}
        </div>
            {% for item in projects %}
            <div class="modal fade" id="{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        <div class="container">
                            <div class="row text-center">
                                <div class="col-md-9 col-lg-9">
                                    <a href=""><img id="img{{item.id}}" src="{{item.image.url}}" class="img-thumbnail" alt="Image"></a>
                                    <h4>{{item.title}}</h4>
                                        <p>{{item.description}}</p>
                                        <p><a href="{{item.git_url}}">View on GitHub</a> </p>
                                       <p><a href="{{item.live_site}}">Live site</a></p>

                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
      </div>
    </section>


  </main>




{% endblock %}
